.page--winkelmand {
    #coupon_code {
        margin-right: 30px;
        width: 150px;
    }
    .checkout-button.button.alt.wc-forward {
        color: $color-white;
        background-color: $color-green;
        width: fit-content;
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        border-radius: 0 15px 0 15px;
        transition: $transition-basic;
        &:hover {
            color: $color-white;
            background-color: $color-green--darker;
            text-decoration: none;
            border-radius: 0;
        }
    }
}
