.page--home {
    section {
        h1 {
            margin-bottom: 0;
        }
        > h2 {
            margin-top: 20px;
        }
        .collection-buttons {
            a {
                &:not(:last-of-type) {
                    margin-right: 50px;
                }
            }
        }
        .section {
            &-info {
                background-color: $color-green;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2 {
                    color: $color-white;
                }
            }
            &-image {
                background-color: $color-black--60;
                padding: 30px;
            }
        }
        .recent {
            &-events,
            &-posts {
                margin-bottom: 10px;
            }
        }
    }
}
