.page--home {
    section {
        h1 {
            margin-bottom: 0;
        }
        h2 {
            margin-top: 20px;
        }
        .collection-buttons {
            a {
                &:not(:last-of-type) {
                    margin-right: 50px;
                }
            }
        }
        .section {
            &-info {
                background-color: $color-green;
                padding: 30px 0;
                text-align: center;
                h2 {
                    color: $color-white;
                }
            }
            &-image {
                background-color: $color-grey;
                padding: 30px;
            }
        }
        .recent-posts {
            margin-bottom: 10px;
        }
    }
}
