.post {
    &-info {
        margin-bottom: 30px;
        &--item {
            margin-bottom: 20px;
            a {
                background-color: $color-grey;
                border: 1px solid $color-green;
                border-radius: 5px;
                padding: 5px 10px;
                &:not(:last-of-type) {
                    margin-right: 7px;
                }
            }
        }
        &--img {
            img {
                box-shadow: 5px 7px 5px 2px $color-black--60;
            }
        }
    }
    &-content {
        h2 {
            margin: 30px 0 20px;
        }
        p {
            margin-bottom: 10px;
        }
        .img-bg {
            background-color: $color-black--60;
        }
    }
}
