.woocommerce-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .page-title {
        width: 100%;
    }
    .woocommerce {
        &-result-count {
            width: fit-content;
        }
        &-ordering {
            width: fit-content;
            .orderby {
                border: 1px solid $color-green;
                padding: 5px;
            }
        }
        &-loop-product__link {
            background-color: $color-grey;
            border: 2px solid $color-green;
            transition: $transition-basic;
            h2 {
                color: $color-green;
                text-shadow: 2px 1px 1px $color-black--60;
                transition: $transition-basic;
            }
            &:hover {
                border-color: $color-red;
                h2 {
                    color: $color-red;
                }
            }
        }
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 30px;
        .product {
            position: relative;
            flex: 0 0 auto;
            width: 33.3333333333%;
            margin-bottom: 20px;
            padding: 0 12px;
            & > a:hover {
                color: $color-black;
                text-decoration: none;
            }
        }
    }
}
