.page--zoeken {
    .result-containers {
        > div {
            margin-top: 30px;
        }
        .all-results {
            list-style: disc;
            margin: 0;
            margin-top: 10px;
            margin-left: 20px;
            p {
                margin-left: -20px;
            }
            .result {
                a {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }
    }
}
