.page--zoeken {
    .result-containers {
        > div {
            margin-top: 30px;
        }
        .all-results {
            list-style: disc;
            margin-top: 10px;
            margin-bottom: 0;
            .result {
                a {
                    font-size: 1.3rem;
                    font-weight: 500;
                }
            }
        }
    }
}
