.card {
    background-color: $color-grey;
    position: relative;
    min-height: 425px;
    margin-top: 20px;
    border: 3px solid $color-grey;
    border-radius: 0;
    box-shadow: 5px 7px 5px 2px $color-black--60;
    transition: $transition-basic;
    &-img {
        height: 250px;
    }
    &-content {
        padding: 20px 20px 0;
        h2 {
            color: $color-green;
            text-shadow: 2px 1px 1px $color-black--60;
            transition: $transition-basic;
        }
    }
    &:hover {
        border-color: $color-red;
        h2 {
            color: $color-red;
        }
    }
    & > a:hover {
        color: $color-black;
        text-decoration: none;
    }
    &-author {
        position: absolute;
        bottom: 20px;
        padding: 0 20px;
        .author {
            font-size: 0.8rem;
            a {
                font-size: 0.8rem;
            }
        }
    }
}
