.event {
    margin-top: 30px;
    &-date {
        color: $color-red--60;
        width: 100%;
        border-bottom: 3px solid $color-red--60;
        padding-bottom: 5px;
        svg {
            stroke: $color-red--60;
        }
    }
    &-title {
        svg {
            border: 2px solid $color-black;
            border-radius: 12px;
            margin-left: 10px;
            transition: $transition-basic;
            &:hover {
                cursor: pointer;
                stroke: $color-green;
                border-color: $color-green;
            }
        }
    }
    &-content {
        display: none;
        p {
            margin-bottom: 10px;
        }
        &.visible {
            display: block;
        }
    }
    &-location {
        color: $color-green;
    }
}
