$color-green: #0cb04a;
$color-red: #c72121;
$color-white: #fff;
$color-grey: #eaeaea;
$color-black: #000;
$color-black--60: rgba(0, 0, 0, 0.6);

$font-roboto: "Roboto", sans-serif;

$transition-basic: all 0.3s ease-in-out;
