$color-green: #0cb04a;
$color-green--darker: #0a5326;
$color-red: #c72121;
$color-red--60: rgba(199, 33, 33, 0.6);
$color-white: #fff;
$color-white--60: rgb(255, 255, 255, 0.6);
$color-grey: #eaeaea;
$color-black: #000;
$color-black--60: rgba(0, 0, 0, 0.6);

$font-roboto: "Roboto", sans-serif;

$transition-basic: all 0.3s ease-in-out;
