footer {
    background-color: $color-green;
    margin-top: auto;
    .footer-content {
        padding: 20px 0;
        h1 {
            margin-bottom: 10px;
        }
        a {
            color: $color-white;
            &:hover {
                color: $color-red;
                text-decoration: none;
            }
        }
        .contact-info,
        .navigation {
            a {
                display: block;
            }
            display: block;
            @media (max-width: 992px) {
                margin-bottom: 10px;
            }
        }
        .btn {
            margin-top: 10px;
        }
    }
    .legal {
        background-color: $color-white;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        p {
            &:not(:last-of-type) {
                margin-right: 30px;
            }
        }
    }
}
