header {
    background-color: $color-green;
    .banner {
        text-align: center;
        background-color: $color-red;
        padding: 7px 0;
        p {
            color: $color-white;
            margin: 0;
        }
    }
    .navigation {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        .custom-logo-link {
            width: 250px;
            height: auto;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                margin: 0;
                &:not(:first-of-type) {
                    margin-left: 50px;
                }
                a {
                    font-size: 1.2rem;
                }
            }
        }
    }
}
