header {
    background-color: $color-green;
    padding: 20px 50px;
    .navigation {
        display: flex;
        justify-content: space-between;
        .custom-logo-link {
            width: 250px;
            height: auto;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                margin: 0;
                &:not(:first-of-type) {
                    margin-left: 50px;
                }
            }
        }
    }
}
