.navigation {
    display: flex;
    align-items: center;
    ul {
        margin-bottom: 0;
        li {
            list-style: none;
            a {
                color: $color-white;
                margin: 0;
                &:hover {
                    color: $color-red;
                    text-decoration: none;
                }
                svg {
                    stroke: $color-white;
                    transition: $transition-basic;
                    &:hover {
                        stroke: $color-red;
                    }
                }
            }
            &.current_page_item {
                a {
                    color: $color-red;
                    text-decoration: underline;
                    svg {
                        stroke: $color-red;
                    }
                }
            }
        }
    }
    svg {
        stroke: $color-white;
        transition: $transition-basic;
        &:hover {
            stroke: $color-red;
        }
    }
}
